{% extends 'shoppinghub/basic.html' %} 
{% block title %}
My Shopping Cart AboutUs Page
 {% endblock %}

{% block body %} 
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light border border 4px solid ">
    <div class="col-md-6 p-lg-5 mx-auto my-6">
      <h1 class="display-4 fw-normal">MY SHOPPING CART</h1>
      <p class="lead fw-normal">Shoppig cart Private Limited is an Indian e-commerce company, headquartered in Bangalore as a private limited company. The company initially focused on sales product categories such as consumer electronics, fashion, home essentials, groceries, and lifestyle products.
</p>
      <a class="btn btn-outline-info" href="/shoppinghub/">Click And View</a>
    </div>
    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2>Start-up phase</h2>
            <p>
                shopping cart was founded in October 2007 in Mumbai.The company initially focused on online sales. Shopping cart slowly grew in prominence and was receiving 100 orders per day by 2022.
        </p>
            <a class="btn btn-info" href="#" role="button">View details &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Shopping Cart</h2>
            <p>Type of site: E-commerce
                <br>
                  Headquarters : Bengaluru, Karnataka, India
                  Owner : My shopping Cart Private Ltd 
                  <br>
                  Launched:1 Dec 2022; 1 years ago  
                  <br>
                  Area served	India</p>
            <p><a class="btn btn-info" href="#" role="button">View details &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Awards</h2>
            <p>awarded Entrepreneur of the Year, 2021–23 from The Economic Times<br>
                In September 2015, the two founders entered Forbes India's richest Indian by year in the 86th position </p>
            <p><a class="btn btn-info" href="#" role="button">View details &raquo;</a></p>
          </div>
        </div>
    
        <hr>
    
      </div> <!-- /container -->
    
    </main>
    
    <footer class="container">
      <p>&copy; Company 2017-2023</p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
          <script>window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="/docs/4.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script></body>
    </html>
    
   {% endblock %}